<div id="<%= dom_id course_content %>">
  <p>
    <strong>Course:</strong>
    <%= @course.title %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= course_content.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course_content.description %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= link_to "View",course_content.file %>
  </p>

</div>
