<div id="<%= dom_id payment %>">
  <p>
    <strong>User:</strong>
    <%= payment.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= payment.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Stripe session:</strong>
    <%= payment.stripe_session_id %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= payment.completed %>
  </p>

</div>
