<p style="color: green"><%= notice %></p>

<% content_for :title, "Payments" %>

<h1>Payments</h1>

<%= link_to "New payment", new_payment_path %>

<br>
<br>

<div id="payments" class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Student</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <% @payments.to_ary.each_index do |i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <%= link_to @payments[i].title, @payments[i] %>
        </td>
        <td><%= @payments[i].user_name %></td>
        <td><%= @payments[i].amount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
