<div id="<%= dom_id activity %>" class="row">
  <div class="col-sm-8">
    <h3><%= activity.title %></h3>

    <p>
      <%= activity.description %>
    </p>

    <p>
      <strong>Event day:</strong>
      <%= activity.event_day %>
    </p>
  </div>

  <div class="col-sm-4 text-center">
    <div>
      <%= image_tag activity.image if activity.image.attached? %>
    </div>
  </div>

</div>
